xrandr --setprovideroutputsource modesetting NVIDIA-0
#xrandr --setprovideroutputsource Intel NVIDIA-G0
xrandr --auto
xrandr --dpi 96 --output eDP-1 --mode 1920x1080 --rate 60.00

eval "$(dbus-launch --sh-syntax --exit-with-session)"

# status状态栏
slstatus &

# wallpaper壁纸
feh --bg-fill --randomize /home/cailong/.config/background/* &

# fcitx5输入法
export XIM=fcitx
export XIM_PROGRAM=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export SDL_IM_MODULE=fcitx
export GLFW_IM_MODULE=fcitx 
fcitx5 -d &

# clipboard剪贴版
copyq &

# dunst消息提醒
dunst &

# picom动画
picom -r 12 --daemon &

# 小键盘锁
numlockx  on &

# 音量管理
volumeicon &

# 网络管理
nm-applet &

# 开启dwm
#exec dbus-launch --sh-syntax --exit-with-session dwm
#exec dwm > ~/.dwm.log
